dotenv==0.9.9
fastapi==0.115.11
fastjsonschema==2.17.1
google==3.0.0
google-ai-generativelanguage==0.6.5
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-genai==1.8.0
google-generativeai==0.7.0
googleapis-common-protos==1.69.2
uvicorn